.headerInner
  .mainheader
    %h1.icon
      = link_to "#" do
        = image_tag 'material/logo/logo-white.png', height: '340px', width: '100%'
        
.form

        -# .searchbox
          -# %form{"action": "#", "accept-charset": "UTF-8", method: "post"}
          -#   %input{name: "utf8", type: "hidden", value: current_keyword.id}
          -#     %input{class: "searchbox--input", id: "searchinput",name: "key", placeholder: "キーワードから探す"}
          -#   %button{type: "submit"}
              .
              