%section.mainVisual
  .content
    %h2.content__subtitle
      %br
        
        人生を変えるフリマアプリ
        
    %p.content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
        フリマアプリです
    .content__button
      %a{class: "aBtn", href: "#"}
        = image_tag("material/logo/422.png", size: "180x53.33", class: "image")
      %a{class: "gBtn", href: "#"}
        = image_tag("material/logo/google-play-logo.png", size: "180x53.33", class: "image")


  