%section.pickupContainer
  %h2.pickupContainerhead
    ピックアップカテゴリー
  .productBox
    .productHead
      =link_to "#", class: "productHead__link" do
        %h3.productHeadtitle
          新規投稿商品
    .productLists
      .productList
        - @items.each do |item|
          = link_to sell_path(item), class: "productList__link" do
            .productList__img
              = image_tag item.item_imgs.first.img.url, class:"productList__imgs"
            .productList--body
              %h3.name
                = item.name
              .details
                %ul
                  %li
                    #{item.price} 円
                %p
                  （税込）