.topMiddleDl 
  .topMiddleDl__inner
    %h2.topMiddleDl__inner__subtitle 会員数日本一
    %p.text 
      FURIMAは、フリマアプリで最も人気。
      %br
        出品・購入回数も業界最多です！
        %br 
          ほしかったあの商品に出会えるかもしれません。
    .btn
      = link_to "#" do
        = image_tag 'material/logo/422.png', class: 'aBtn'
      = link_to "#" do
        = image_tag 'material/logo/google-play-logo.png', class: 'gBtn' 

