%section.topKeyFeatures
  %h2.head
    FURIMAの特徴
  .items
    %section.item
      %figure.item__img
        = image_tag "material/icon/icon-01.png"
      %h3.item__subtitle
        簡単に売り買いできる
      %p.item__detail
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %section.item
      %figure.item__img
        = image_tag "material/icon/icon-02.png"
      %h3.item__subtitle
        売上金は即日振込みに対応
      %p.item__detail
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    %section.item
      %figure.item__img
        = image_tag "material/icon/icon-03.png"
      %h3.item__subtitle
        様々な支払いに対応
      %p.item__detail
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。