.toplntroduction
  %h2.subtitle
    FURIMAが選ばれる3つの理由
    .subtitle__line
  %ul.lists
    %li.list
      .list__img
        .list__img__box
          1
        = image_tag "material/pict/pict-reason-01.jpg", size: "300x300"
      %h3.list__text
        %span 3分 
        ですぐに出品
      %p.list__description
        スマホで入力するだけで簡単に出品できる！
    %li.list
      .list__img
        .list__img__box
          2
        = image_tag "material/pict/pict-reason-02.jpg", size: "300x300"
      %h3.list__text
        %span シンプル
        で使いやすい
      %p.list__description
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.list
      .list__img
        .list__img__box
          3
        = image_tag "material/pict/pict-reason-03.jpg", size: "300x300"
      %h3.list__text
        手数料 
        %span 業界最安
      %p.list__description
        最大3%でお得に出品&購入！