.card-container {
  margin: 30px 370px;
}

.card-information-input {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4em;
  padding: 8px 24px;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
}

.from-container{
  padding: 40px 40px 65px;
  .form-container {
    margin: 0 auto;
    max-width: 320px;
    .topname {
      font-size: 14px;
      font-weight: 600;
      font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
      color: #333;
    }
    .form-require {
      color: white;
      background: #3ccace;
      font-size: 12px;
      font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      padding: 0 4px;
      margin: 0 0 0 8px;
    }
    .number {
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-family: inherit;
      font-size: inherit;
      height: 48px;
      margin: 8px 0 5px;
      outline: none;
      padding: 0 16px;
      width: 100%;
    }
    .image-card {
      margin-bottom: 30px;
      ul {
        display: flex;
      }
    }
    #exp_month {
      height: 48px;
      width: calc(40%);
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
      margin: 8px 2px 30px;
    }
    #exp_year {
      height: 48px;
      width: calc(40%);
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
      margin: 8px 2px 30px;
    }
    .submit {
      padding: 0px 24px;
      margin: 20px 0 20px;
      background-color: #3CCACE;
      color: white;
      font-weight: bold;
      border-radius: 4px;
      font-size: 17px;
      width: 100%;
      min-height: 50px;
      border-style: none;
      cursor: pointer;
    }
  }
}



