.footer {
  padding: 60px 0;
  color: #fff;
  background-color: hsl(0, 0%, 15%);
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      text-decoration: none;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        li {
          display: list-item;
          text-align: -webkit-match-parent;
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
  .footer p {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 32px;
  color: white;
}