.pickupContainer {
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
}

.pickupContainerhead {
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
}

.productHead {
  text-align: center;
  &__link {
    font-size: 24px;
  text-decoration: none;
  color: #3CCACE;
  }
}

.productLists {
  width: 780px;
  margin: 0px auto;
}

.productList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  &__img {
    height: 220px;
    width: 220px;
  }
  &__imgs {
    height: 100%;
    width: 100%;
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-right: 0;
  }
}

.productList--body {
  background-color: white;
  padding: 16px;
}