.toplntroduction {
  width: 100%;
  height: 600px;
  padding: 60px 220px;
  margin-bottom: 60px;
}

.subtitle {
  width: 100%;
  height: 50px;
  background: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  margin-bottom: 40px;
  &__line {
    width: 70px;
    height: 4px;
    background: #3CCACE;
    margin: 0 auto;
  }
}
.lists {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.list {
  width: 300px;
  height: 400px;
  text-align: center;
  &__img {
    width: 300px;
    height: 300px;
    background: #000000;
    position: relative;
    margin-bottom: 20px;
    &__box {
      width: 55px;
      height: 55px;
      background: #3CCACE;
      color: #ffffff;
      font-size: 30px;
      line-height: 55px;
      border-radius: 4%;
      position: absolute;
    }
  }
  &__text {
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
    span {
      color: #3CCACE;
    }
  }
  &__description {
    font-size: 17px;
    margin: 16px 0 0;
    text-align: left;
  }
}